@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    @apply flex bg-white py-8 flex-row justify-between px-12 items-center border-b-2;
}

.category {
    @apply relative;
}

.dimmer {
    @apply absolute top-0 w-full h-full flex items-center justify-center bg-black bg-opacity-50 px-4;
}

.category-name {
    @apply text-white font-bold text-2xl text-center;
}

.category:hover {
    @apply cursor-pointer shadow-lg -translate-y-1 delay-75 transition-all;

    .dimmer{
        @apply bg-opacity-0;
    }
    
    .category-name{
        @apply hidden;
    }

}

.dimmer, .category-image{
    @apply rounded-2xl;
}

.container {
    @apply w-[90%] md:w-[80%] xl:w-[70%] m-auto;
}